* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#demo {
    text-align: center;
    margin-top: 2rem;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 50px auto 0;
    min-height: 100px;
    min-width: 100px
}

#game-menu {
    margin: 50px auto;
    width: auto;
}

#game-set {
    text-align: center;
    margin-top: 2rem;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}